@import "./color.scss";
@import "./viewSize";
@import "./layout";

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 101;

  .container {
    width: 100%;
    height: 64px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;

    @include mobile {
      height: 74px;
    }
  }
  .logo {
    font-size: 40px;
    color: white;
    cursor: pointer;

    @include mobile {
      font-size: 24px;
    }

    strong {
      margin-right: 20px;
      @include mobile {
        margin-right: 5px;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100%;

    .navItems {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 800px;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .translation {
    display: flex;
    align-items: center;
    width: 80px;
    font-size: 24px;
    height: 40px;
    background-color: black;
    color: #{$gray-color};
    width: 100%;
    justify-content: flex-end;
    padding: 0 30px;

    .transForm {
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      margin-right: 10px;

      .lang {
        font-size: 20px;
        font-weight: 400;
      }

      .seperator {
        width: 1px;
        height: 50%;
        background-color: #{$gray-color};
      }
    }
  }

  .back {
    @include flex-row(flex-end, flex-start);
    width: 100%;
    height: calc(100vh - 104px);
    position: fixed;
    top: 104px;
    background-color: rgba(0, 0, 0, 0.5);

    .navList {
      width: 80%;
      max-width: 500px;
      height: 100%;
      background-color: #474747;
      z-index: 200;

      .item {
        width: 100%;
        height: 70px;
        background-color: #474747;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 24px;
        @include flex-row(center, center);
        color: white;
        cursor: pointer;
      }
    }
  }
}
