@import "../layout";
@import "../viewSize";

.homeContainer {
  width: 100%;
  height: auto;
  min-height: 600px;

  .wrapper {
    @include flex-row(space-between, center);
    width: 90%;
    max-width: 1400px;

    @include mobile {
      @include flex-column(flex-start, center);
    }
  }
  .wrapper2 {
    @include flex-row(space-between, center);
    width: 90%;
    max-width: 1060px;

    @include mobile {
      @include flex-column(flex-start, center);
    }
  }

  .viewMore {
    @include flex-row(center, center);
    border: 2px solid white;
    border-radius: 30px;
    padding: 8px 40px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    margin-top: 20px;
  }

  .landingContainer {
    width: 100%;
    position: relative;
    height: 100%;

    .slider {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 100vh;
      max-height: 800px;
      width: 100%;

      @include mobile {
        max-height: 650px;
      }
    }
    .background {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
    }

    .slide_right {
      @include flex-column(center, flex-end);
    }

    .slide_left {
      @include flex-column(center, flex-start);
    }

    .sliderItem {
      color: white;
      flex: 1;

      flex-direction: column;

      @include mobile {
        margin-top: 150px;
      }

      h2 {
        text-shadow: 1px 1px 1px gray;
        font-size: 70px;
        margin-bottom: 20px;
        font-weight: 400;
        font-family: Arial;
        @include mobile {
          font-size: 50px;
        }
      }

      .sub {
        margin-bottom: 5px;
        font-size: 40px;
      }

      p {
        font-size: 25px;
        margin-top: 10px 0;
      }
    }

    .sliderItem2 {
      @include flex-column(center, center);

      h2 {
        font-size: 70px;
        margin-bottom: 20px;
        font-weight: 500;
        color: white;
        @include mobile {
          font-size: 50px;
        }
      }

      .sub {
        font-size: 40px;
        margin-bottom: 20px;
        color: white;
        text-align: center;
      }

      p {
        font-size: 25px;
        @include mobile {
          font-size: 14px;
        }
      }
    }

    .routing {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1000px;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      z-index: 100;

      @include mobile {
        display: none;
      }

      .title {
        width: 100%;
        background-color: white;
        color: black;
        border-radius: 10px 10px 0 0;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        margin-bottom: 5px;
      }

      .content {
        background-color: rgba(229, 229, 229, 0.8);
        width: 100%;
        display: flex;
        height: 130px;

        @include mobile {
          flex-wrap: wrap;
          height: 260px;
        }

        .item {
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          border-right: 1px solid white;
          gap: 10px;

          cursor: pointer;
          &:last-child {
            border: none;
          }

          @include mobile {
            width: 50%;
            border-bottom: 1px solid white;
            &:nth-child(3) {
              border-bottom: none;
            }
          }
        }
      }

      .tel {
        width: 100%;
        padding: 5px 0 0 0;
        text-align: end;
        color: white;
      }
    }
  }

  .company {
    width: 100%;
    @include flex-column(center, center);
    position: relative;
    padding: 50px 0 20px 0;

    .block {
      position: absolute;
      top: 175px;
      left: 0;
      width: 55%;
      min-width: 750px;
      height: 120px;
      background-color: rgb(230, 224, 203);

      @include mobile {
        width: 100%;
        min-width: 0;
        height: 100px;
        top: 140px;
      }
    }
    .info {
      @include flex-column(center, center);
      width: 100%;

      .title {
        @include flex-row(center, center);
        font-size: 80px;
        width: 90%;
        max-width: 700px;
        height: 60px;
        margin-top: 20px;
        font-weight: 900;

        @include mobile {
          font-size: 50px;
        }
      }

      .desc {
        @include flex-column(center, center);

        font-size: 30px;
        text-align: center;
        margin: 45px 0 20px 0;
        max-width: 900px;
        width: 100%;
        height: 120px;
        z-index: 5;

        @include mobile {
          margin: 20px 0 20px 0;
          font-size: 18px;
        }
      }
      .companyContent {
        width: 100%;
        @include flex-row(space-between, center);
        margin: 30px 0;

        @include mobile {
          @include flex-column(space-between, center);
        }

        .companyItem {
          width: calc(33.33333% - 50px);
          height: 120px;
          gap: 20px;
          .itemWrapper {
            @include flex-column(space-between, flex-start);
            width: 100%;
            height: 100%;
          }

          .en {
            font-size: 24px;
            font-weight: 900;
          }

          .ko {
            width: 100%;
            font-size: 24px;
            border-bottom: 1px solid black;
            padding: 5px 5px;
            height: 80px;
          }

          @include mobile {
            width: 100%;
            height: 140px;
            margin: 5px 0;
            background-size: 100%;
          }
        }
      }
    }
  }

  .product {
    width: 100%;
    @include flex-column(center, center);
    padding: 50px 0 20px 0;

    .proContent {
      width: 100%;
      @include flex-column(center, center);
      h2 {
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 20px;

        @include mobile {
          font-size: 50px;
        }
      }

      p {
        max-width: 900px;
        width: 100%;
        font-size: 25px;
        text-align: center;
      }

      .products {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        margin-top: 40px;

        @include mobile {
          grid-template-columns: 1fr 1fr;
        }

        .items {
          cursor: pointer;
          .img {
            width: 100%;

            img {
              width: 100%;
            }
          }
          .desc {
            @include flex-row(center, center);
            width: 100%;
            height: 70px;
            background-color: rgb(177, 177, 177);
            font-size: 35px;
            color: white;
          }
        }
      }
    }
  }
  .global {
    width: 100%;
    @include flex-row(center, flex-start);
    height: auto;

    .semi {
      @include flex-row(center, flex-start);
      width: 100%;
      max-width: 1400px;
      background-color: rgb(77, 73, 73);

      @include mobile {
        @include flex-column(center, center);
      }
    }

    .region {
      @include flex-column(flex-start, flex-start);
      width: 45%;
      background-color: rgb(77, 73, 73);
      color: white;

      .title {
        width: 100%;
        font-size: 40px;
        font-weight: bold;
        border-bottom: 2px white solid;
        padding: 10px;
        @include mobile {
          font-size: 30px;
        }
      }

      .desc {
        width: 100%;
        height: 100%;
        padding: 10px;
        @include flex-column(space-between, flex-start);
        .item {
          font-size: 35px;

          @include mobile {
            font-size: 25px;
          }
        }
      }
    }

    .map {
      width: 55%;
      height: auto;
    }

    @include mobile {
      @include flex-column(center, center);

      .region {
        width: 100%;
        // min-height: 250px;
      }

      .map {
        width: 100%;
      }
    }
  }

  .infiniteContainer {
    width: 100%;
    height: 200px;
    background-color: black;
    @include flex-row(center, center);
    font-family: "Times New Roman", Times, serif;

    .act {
      @include flex-row(center, center);
      font-size: 100px;
      text-align: center;
      color: white;
      vertical-align: center;
    }
  }
  .corporation {
    @include flex-row(center, center);
    background-image: url("/images/corporation.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;

    .content {
      @include flex-column(flex-start, flex-start);
      width: 100%;
      height: 100%;
      height: calc(100vh - 104px);
      padding: 80px 0;
      color: white;

      @include mobile {
        padding: 60px 0;
        height: calc(100vh - 74px);
      }

      .title {
        font-size: 60px;
        height: 80px;
        max-width: 450px;
        border-bottom: 2px solid white;
        margin-bottom: 30px;
        width: 100%;

        @include mobile {
          font-size: 50px;
        }
      }
      .desc {
        font-size: 56px;
        margin-bottom: 70px;

        @include mobile {
          font-size: 36px;
        }
      }

      p {
        font-size: 45px;
        @include mobile {
          font-size: 30px;
        }
      }
    }
  }

  .people {
    width: 100%;
    @include flex-row(center, center);
    background-color: rgb(196, 2, 18);
    color: white;
    .content {
      @include flex-row(center, center);
      width: 100%;
      padding: 80px 0;
      height: calc(100vh - 104px);

      @include mobile {
        padding: 30px 0;
        height: auto;
      }

      @include mobile {
        @include flex-column(center, center);
      }

      .left {
        width: 50%;
        height: 100%;
        @include mobile {
          width: 100%;
        }

        .title {
          width: 90%;
          font-size: 40px;
          padding: 20px 0;
          border-bottom: 2px solid white;
          @include mobile {
            width: 100%;
            font-size: 30px;
          }
        }
        .desc {
          @include flex-column(flex-start, flex-start);
          height: 100%;
          padding: 50px 0;
          div {
            font-size: 75px;
            @include mobile {
              font-size: 50px;
            }
          }
        }
      }
      .right {
        @include flex-column(flex-start, flex-end);
        padding-top: 80px;
        width: 50%;
        height: 100%;
        @include mobile {
          width: 100%;
          padding-top: 0px;
        }

        .desc2 {
          @include flex-column(flex-start, flex-start);
          font-size: 35px;

          @include mobile {
            font-size: 20px;
          }
        }
      }
    }
  }

  .vision {
    width: 100%;
    @include flex-row(center, flex-start);
    // min-height: calc(100vh - 104px);
    height: auto;

    .content {
      @include flex-row(center, flex-start);
      width: 100%;
      // min-height: calc(100vh - 104px);
      height: auto;
      padding: 15% 0;
      box-sizing: border-box;

      @include mobile {
        @include flex-column(space-between, center);
        padding: 10% 0;
      }

      .left {
        width: 50%;
        @include flex-column(flex-start, flex-start);
        gap: 60px;
        @include mobile {
          width: 100%;
        }

        .title {
          font-size: 55px;

          @include mobile {
            font-size: 35px;
          }
        }

        .desc {
          font-size: 30px;
          @include mobile {
            font-size: 25px;
          }
        }
      }

      .right {
        width: 50%;
        @include flex-row(flex-start, flex-start);
        margin-top: 100px;
        height: 100%;

        @include mobile {
          width: 100%;
          margin-top: 0;
        }
        .rightWrapper {
          @include flex-row(flex-start, center);
          gap: 30px;
          height: 450px;
          width: 100%;

          @media (max-width: 700px) {
            @include flex-column(center, center);
            height: auto;
          }
        }

        .img {
          width: 50%;
          height: 100%;
          background-image: url("/images/misssion.webp");
          background-size: 100% 100%;
          object-fit: cover;
          background-repeat: no-repeat;
          background-position: center center;

          @include mobile {
            width: 100%;
          }

          @media (max-width: 700px) {
            margin-top: 30px;
            height: 300px;
            background-position: center center;
          }
        }

        .desc2 {
          @include flex-column(space-between, center);
          width: 50%;
          height: 100%;

          @include mobile {
            width: 100%;
          }

          .detail {
            @include flex-column(flex-start, flex-start);
            width: 100%;
            h3 {
              font-size: 22px;
              margin: 0;
              margin-bottom: 20px;

              @include mobile {
                font-size: 20px;
              }
            }

            p {
              font-size: 20px;
              @include mobile {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
