@import "../layout";
@import "../viewSize";

.productContainer {
  @include flex-column(center, center);
  color: black;
  margin-top: 104px;

  @include mobile {
    margin-top: 74px;
  }

  .wrapper {
    @include flex-column(center, center);
    width: 90%;
    max-width: 1400px;
    margin-bottom: 50px;

    h1 {
      font-size: 38px;
      font-weight: 900;
      margin: 30px 0;
    }

    .list {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 22px;
      list-style: none;

      @include mobile {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
      }

      li {
        @include flex-row(center, center);
        border: black solid 1px;
        margin-bottom: 0.5em;
        padding: 20px;
        text-align: center;
        font-size: 22px;
        cursor: pointer;

        vertical-align: middle;
        @include mobile {
          height: 100px;
        }

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .products {
      @include flex-column(center, center);
      width: 100%;
      margin-top: 50px;

      .sub {
        font-size: 24px;
        font-weight: 900;
        margin-top: 30px;
        max-width: 400px;
        width: 90%;
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 60px;
        border-bottom: black 2px solid;
      }

      .productList {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;

        @include mobile {
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 10px;
          grid-row-gap: 10px;
        }

        .item {
          @include flex-column(center, center);
          cursor: pointer;
          img {
            max-width: 100%;
            max-height: 226px;
            margin-bottom: 10px;
          }
          .productName {
            color: black;
            font-size: 24px;
            text-align: center;

            @include mobile {
              font-size: 18px;
            }
          }
        }
      }
    }

    @include mobile {
      @include flex-column(center, center);
    }
  }
}
